*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 940px;
 height: 570px;
 background-color: darkblue;
 margin: 0px auto;
 padding:15px;
}
#header{
 color: lightblue;
 height: 40px;
 font-weight: bold;
 background-color: red;
 margin-bottom: 15px;
 font-size: 36px;
 padding: 15px;
 border-radius: 6px;
}
.bluewords{
  color:blue;
  display: inline-block;
}
#middle{
   display: inline-block;
}
#sidebar{
 color: skyblue;
 height: 225px;
 width: 200px;
 background-color: teal;
   display: inline-block;
vertical-align: top;
margin-right: 15px;
border-radius: 6px;
text-decoration: underline;

}
#home{
  margin-left: 15px;
}
.firstlist{
  margin-left: 30px;
}
.secondlist{
  margin-left: 40px;
}
#mainbody{
 font-size: 12px;
 font-weight: 400;
 height: 400px;
 width: 690px;
 background-color: black;
 padding: 15px;
 color: lightblue;
 border-radius: 6px;
   display: inline-block;
}
#extrabody{
  margin-left: 10px;
}
#bottom{
 height: 20px;
 width: 940px;
 background-color: grey;
 color: lightblue;
 border-radius: 6px;
 padding:10px;


}
